.App {
  text-align: center;
}

h1 {
  text-align: center;
  color: white;
}

h2 {
  text-align: center;
  color: white;
}

h3 {
  text-align: center;
}

p {
  color: white;
  text-align: center;
}


body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: rgb(53, 58, 63);
}

.head_text {
  color: white;
}

.card {
  box-shadow: 5px 5px 5px #3398E1;
  text-align: center;
  border-width: 5px;
  border-color: rgb(15, 34, 75);
  border-radius: 15px;
  margin-left: 50px;
  margin-right: 50px;
}

.card-header {
  border-width: 5px;
  border-color: rgb(15, 34, 75);
  border-radius: 15px;
  color: white;
}

h4 {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.logo {
  max-width: 50px;
}

.App-header {
 
  max-height: 50vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-primary {
  background-color: rgba(0, 0, 0, 0.2)!important;
}

/* .card {
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  padding-bottom: 10px;
} 

 .card-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.col {
  margin-bottom: 10px;
}

.intro {

  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.cert {

  padding-top: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.share {
  max-width: 290px;
}

.dan {
  max-width: 250px;
}

button {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

li {
  text-align: center;
}

.btn-outline-primary {
  display: flex;
  justify-content: center;
}

.mike {
  max-width: 225px;
}

.about {
  border-width: 5px;
  border-color: rgb(15, 34, 75);
  border-radius: 15px;
  color: white;
}


